---

---


<section class="container" style="text-align:center; min-height: 80vh; display:flex; flex-direction:column; justify-content:center; align-items:center;">
<h1 class="brand-title">SOFTA7</h1>
<p><b>Development of Web3 applications and decentralized solutions.</b></p>
<button id="connectWallet">Connect to MetaMask</button>
<p id="walletAddress"></p>
</section>